<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="T1000"
		class="ru.javabeg.training.spring.impls.robot.ModelT1000">
	<constructor-arg ref="sonyHand"></constructor-arg>
	<constructor-arg ref="sonyHead"></constructor-arg>
	<constructor-arg ref="sonyLeg"></constructor-arg>
	</bean>

	<bean class="ru.javabegin.training.spring.impls.sony.SonyHand"
		id="sonyHand">
	</bean>
	<bean class="ru.javabegin.training.spring.impls.sony.SonyHead"
		id="sonyHead">
	</bean>
	<bean class="ru.javabegin.training.spring.impls.sony.SonyLeg"
		id="sonyLeg">
	</bean>
	<bean class="ru.javabegin.training.spring.impls.toshiba.ToshibaHand"
		id="toshibaHand">
	</bean>
	<bean class="ru.javabegin.training.spring.impls.toshiba.ToshibaHead"
		id="toshibaHead">
	</bean>
	<bean class="ru.javabegin.training.spring.impls.toshiba.ToshibaLeg"
		id="toshibaLeg">
	</bean>
</beans>
